<div class="navmenu navmenu-default navmenu-fixed-right">
    <a class="navmenu-brand">{{$ctrl.movie.name}}</a>
</div>
<div class="canvas">
    <div class="container-fluid">
        <div class="row">
            <div
              class="md-col-12 text-center"
              ng-cloak=""
              infinite-scroll="$ctrl.paginate()"
              infinite-scroll-distance="3">
                <div
                  ng-repeat="grab in $ctrl.grabs"
                  class="grab">
                    <img
                      data-recalc="false"
                      data-canvas=".canvas"
                      data-target=".navmenu"
                      data-toggle="offcanvas"
                      width="200"
                      height="200"
                      title="{{grab.name}}"
                      alt="{{grab.name}}"
                      ng-click="$ctrl.setMovie(grab)"
                      ng-src="./app/dataset/images/{{grab.id}}/{{$ctrl.imageList[grab.id][0]}}"
                      >
                </div>
            </div>
        </div>
    </div>
</div>
